<div class="table-container">
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Praxisprojekte</th>
        <th>Bachelor Arbeiten</th>
        <th>Master Arbeiten</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>in Vorbereitung</th>
        <td data-js-in-preparation-pp></td>
        <td data-js-in-preparation-ba></td>
        <td data-js-in-preparation-ma></td>
      </tr>
      <tr>
        <th>in Bearbeitung</th>
        <td data-js-in-progress-pp></td>
        <td data-js-in-progress-ba></td>
        <td data-js-in-progress-ma></td>
      </tr>
      <tr>
        <th>in Bewertung</th>
        <td data-js-in-evaluation-pp></td>
        <td data-js-in-evaluation-ba></td>
        <td data-js-in-evaluation-ma></td>
      </tr>
      <tr class="capacity">
        <th>freie Plätze</th>
        <td data-js-capacity-pp></td>
        <td data-js-capacity-ba></td>
        <td data-js-capacity-ma></td>
      </tr>
    </tbody>
  </table>

</div>