<p class="mini-hero">
  Haben Sie einen Themenwunsch oder -vorschlag? Ich suche vor allem nach Themen, die Interfaces im industriellen und musealen Kontext behandeln. Keine reinen Tech-Themen – Interfaces im Fokus!
</p>

<div class="form">
  <form action="" method="POST">
    <div class="form-row">
      <input type="text" name="name" id="name" required="true">
      <label for="name">Name</label>
    </div>
    <div class="form-row">
      <input type="email" name="e-mail" id="e-mail" required="true">
      <label for="e-mail">E-Mail Adresse</label>
    </div>
    <div class="form-row">
      <input type="text" name="thema" id="thema" required="true">
      <label for="thema">Thema</label>
    </div>
    <div class="form-row">
      <textarea name="themenvorschlag" id="themenvorschlag" required="true"></textarea>
      <label for="themenvorschlag">Erklärung zum Thema</label>
    </div>
    <button type="submit" class="simple-button">abschicken</button>
  </form>
</div>